## 0. Load imports

In [2]:
## imports
import pandas as pd
import numpy as np


## print multiple things from same cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 0. Load data

In [3]:
## load data on 2020 crimes in DC
df = dc_crim_2020 = pd.read_csv("https://opendata.arcgis.com/datasets/f516e0dd7b614b088ad781b0c4002331_2.csv")
dc_crim_2020.head()
dc_crim_2020.shape
dc_crim_2020.info()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,402411.0,131808.0,10147537,2020/12/21 05:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,2300 - 2499 BLOCK OF HARTFORD STREET SE,402411.0,131808.0,...,007408 2,7408.0,Precinct 115,38.854078,-76.972223,NaN,2010/10/10 02:00:00+00,NaN,802282718,NaN
1,397330.0,138223.0,16641,2020/01/28 05:14:39+00,MIDNIGHT,OTHERS,THEFT F/AUTO,1300 - 1399 BLOCK OF CORCORAN STREET NW,397330.0,138223.0,...,005001 2,5001.0,Precinct 16,38.911866,-77.030785,NaN,2020/01/28 05:14:58+00,2020/01/28 05:15:02+00,802282726,NaN
2,399848.0,128205.0,18048023,2020/10/21 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,4600 - 4799 BLOCK OF SOUTH CAPITOL STREET,399848.0,128205.0,...,009811 1,9811.0,Precinct 125,38.821624,-77.001750,NaN,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,802285348,NaN
3,396525.0,140299.0,20119313,2020/08/21 11:12:56+00,DAY,OTHERS,THEFT/OTHER,1700 - 1799 BLOCK OF KILBOURNE PLACE NW,396525.0,140299.0,...,002702 3,2702.0,Precinct 39,38.930565,-77.040078,NaN,2020/08/07 09:40:16+00,2020/08/21 10:00:05+00,802287553,NaN
4,401104.0,138229.0,20120295,2020/08/23 08:15:49+00,MIDNIGHT,OTHERS,MOTOR VEHICLE THEFT,1800 - 1899 BLOCK OF CORCORAN STREET NE,401104.0,138229.0,...,008803 1,8803.0,Precinct 76,38.911924,-76.987271,NaN,2020/08/23 06:00:25+00,2020/08/23 06:43:53+00,802287554,NaN

(27931, 25)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27931 entries, 0 to 27930
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     27931 non-null  float64
 1   Y                     27931 non-null  float64
 2   CCN                   27931 non-null  int64
 3   REPORT_DAT            27931 non-null  object
 4   SHIFT                 27931 non-null  object
 5   METHOD                27931 non-null  object
 6   OFFENSE               27931 non-null  object
 7   BLOCK                 27931 non-null  object
 8   XBLOCK                27931 non-null  float64
 9   YBLOCK                27931 non-null  float64
 10  WARD                  27931 non-null  int64
 11  ANC                   27931 non-null  object
 12  DISTRICT              27902 non-null  float64
 13  PSA                   27896 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  27931 non-null  object
 15  BLOCK_GROUP           27930 non-null  object
 16  CENSUS_TRACT          27930 non-null  float64
 17  VOTING_PRECINCT       27931 non-null  object
 18  LATITUDE              27931 non-null  float64
 19  LONGITUDE             27931 non-null  float64
 20  BID                   4658 non-null   object
 21  START_DATE            27931 non-null  object
 22  END_DATE              24850 non-null  object
 23  OBJECTID              27931 non-null  int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(10), int64(3), object(12)
memory usage: 5.3+ MB

In [4]:
a = [1,2,3]
b = ["a","b","c"]

In [5]:
fake_dict = dict( zip(a,b) )

fake_dict

{1: 'a', 2: 'b', 3: 'c'}

In [6]:
fake_dict[2]

'b'

In [7]:
"QSS" in "QSS20"

True

In [8]:
list_classes = ["QSS20", "QSS17", "QSS45", "ECON1", "CS31", "CS74"]

In [9]:
empty_list = []
for c in list_classes:
    if "QSS" in c:
        empty_list.append(c)
        
empty_list

['QSS20', 'QSS17', 'QSS45']

In [10]:
[ c for c in list_classes if "QSS" in c  ]

['QSS20', 'QSS17', 'QSS45']

#### Warm-up: Ways to add 100 to column X

In [11]:
df['X'] + 100

0        402511.0
1        397430.0
2        399948.0
3        396625.0
4        401204.0
           ...
27926    400644.0
27927    396264.0
27928    396330.0
27929    406679.0
27930    398569.0
Name: X, Length: 27931, dtype: float64

## 1. Aggregation

### Example of grouping by one variable and doing one aggregation 

**Task**: find and print the number of unique offense types (`OFFENSE`) by ward (`WARD`)

In [12]:
df.groupby("WARD")["OFFENSE"].nunique()

WARD
1    9
2    9
3    8
4    8
5    9
6    9
7    9
8    9
Name: OFFENSE, dtype: int64

### Example of grouping by one variable and providing two summaries of the same variable

**Task**: previous showed number of offenses by ward but want to find out content of offenses in each ward; create an aggregation that summarizes both the number of unique offenses by ward and what those offenses are -- for instance, by pasting the unique offenses in that ward separated by the ";" (e.g., Theft; Burglary;...)

*Hint*: you can use the join command to paste together a list separated by some delimiter. 
    - The syntax, if we are using the comma delimiter, is: ", ".join(nameoflist)

In [13]:
df1 = df.groupby("WARD")["OFFENSE"].unique()
df1

WARD
1    [THEFT/OTHER, THEFT F/AUTO, ASSAULT W/DANGEROU...
2    [THEFT F/AUTO, THEFT/OTHER, MOTOR VEHICLE THEF...
3    [THEFT/OTHER, MOTOR VEHICLE THEFT, THEFT F/AUT...
4    [THEFT F/AUTO, MOTOR VEHICLE THEFT, THEFT/OTHE...
5    [MOTOR VEHICLE THEFT, BURGLARY, THEFT/OTHER, T...
6    [THEFT/OTHER, ASSAULT W/DANGEROUS WEAPON, THEF...
7    [THEFT/OTHER, ASSAULT W/DANGEROUS WEAPON, THEF...
8    [HOMICIDE, ASSAULT W/DANGEROUS WEAPON, ROBBERY...
Name: OFFENSE, dtype: object

In [14]:
def count_fx(x):
    return len(x)

df1.apply(count_fx)

WARD
1    9
2    9
3    8
4    8
5    9
6    9
7    9
8    9
Name: OFFENSE, dtype: int64

In [15]:
list(df1.items())

[(1,
  array(['THEFT/OTHER', 'THEFT F/AUTO', 'ASSAULT W/DANGEROUS WEAPON',
         'BURGLARY', 'MOTOR VEHICLE THEFT', 'ROBBERY', 'SEX ABUSE',
         'HOMICIDE', 'ARSON'], dtype=object)),
 (2,
  array(['THEFT F/AUTO', 'THEFT/OTHER', 'MOTOR VEHICLE THEFT', 'HOMICIDE',
         'BURGLARY', 'ROBBERY', 'ASSAULT W/DANGEROUS WEAPON', 'SEX ABUSE',
         'ARSON'], dtype=object)),
 (3,
  array(['THEFT/OTHER', 'MOTOR VEHICLE THEFT', 'THEFT F/AUTO', 'BURGLARY',
         'ROBBERY', 'ASSAULT W/DANGEROUS WEAPON', 'SEX ABUSE', 'HOMICIDE'],
        dtype=object)),
 (4,
  array(['THEFT F/AUTO', 'MOTOR VEHICLE THEFT', 'THEFT/OTHER', 'BURGLARY',
         'ASSAULT W/DANGEROUS WEAPON', 'ROBBERY', 'SEX ABUSE', 'HOMICIDE'],
        dtype=object)),
 (5,
  array(['MOTOR VEHICLE THEFT', 'BURGLARY', 'THEFT/OTHER', 'THEFT F/AUTO',
         'SEX ABUSE', 'ROBBERY', 'ASSAULT W/DANGEROUS WEAPON', 'HOMICIDE',
         'ARSON'], dtype=object)),
 (6,
  array(['THEFT/OTHER', 'ASSAULT W/DANGEROUS WEAPON', 'THEFT F/AUTO',
         'MOTOR VEHICLE THEFT', 'ROBBERY', 'BURGLARY', 'HOMICIDE',
         'SEX ABUSE', 'ARSON'], dtype=object)),
 (7,
  array(['THEFT/OTHER', 'ASSAULT W/DANGEROUS WEAPON', 'THEFT F/AUTO',
         'MOTOR VEHICLE THEFT', 'ROBBERY', 'BURGLARY', 'SEX ABUSE',
         'HOMICIDE', 'ARSON'], dtype=object)),
 (8,
  array(['HOMICIDE', 'ASSAULT W/DANGEROUS WEAPON', 'ROBBERY',
         'THEFT F/AUTO', 'MOTOR VEHICLE THEFT', 'THEFT/OTHER', 'BURGLARY',
         'SEX ABUSE', 'ARSON'], dtype=object))]

In [16]:
def join_text(x):
    return "; ".join(x)

join_text(['HOMICIDE', 'ASSAULT W/DANGEROUS WEAPON', 'ROBBERY',
         'THEFT F/AUTO', 'MOTOR VEHICLE THEFT', 'THEFT/OTHER', 'BURGLARY',
         'SEX ABUSE', 'ARSON'])

'HOMICIDE; ASSAULT W/DANGEROUS WEAPON; ROBBERY; THEFT F/AUTO; MOTOR VEHICLE THEFT; THEFT/OTHER; BURGLARY; SEX ABUSE; ARSON'

In [17]:
def join_text(x):
    return "; ".join(x)

new_list = []
for key, val in list( df1.items() ):
    new_list.append( join_text(val))

new_list

['THEFT/OTHER; THEFT F/AUTO; ASSAULT W/DANGEROUS WEAPON; BURGLARY; MOTOR VEHICLE THEFT; ROBBERY; SEX ABUSE; HOMICIDE; ARSON',
 'THEFT F/AUTO; THEFT/OTHER; MOTOR VEHICLE THEFT; HOMICIDE; BURGLARY; ROBBERY; ASSAULT W/DANGEROUS WEAPON; SEX ABUSE; ARSON',
 'THEFT/OTHER; MOTOR VEHICLE THEFT; THEFT F/AUTO; BURGLARY; ROBBERY; ASSAULT W/DANGEROUS WEAPON; SEX ABUSE; HOMICIDE',
 'THEFT F/AUTO; MOTOR VEHICLE THEFT; THEFT/OTHER; BURGLARY; ASSAULT W/DANGEROUS WEAPON; ROBBERY; SEX ABUSE; HOMICIDE',
 'MOTOR VEHICLE THEFT; BURGLARY; THEFT/OTHER; THEFT F/AUTO; SEX ABUSE; ROBBERY; ASSAULT W/DANGEROUS WEAPON; HOMICIDE; ARSON',
 'THEFT/OTHER; ASSAULT W/DANGEROUS WEAPON; THEFT F/AUTO; MOTOR VEHICLE THEFT; ROBBERY; BURGLARY; HOMICIDE; SEX ABUSE; ARSON',
 'THEFT/OTHER; ASSAULT W/DANGEROUS WEAPON; THEFT F/AUTO; MOTOR VEHICLE THEFT; ROBBERY; BURGLARY; SEX ABUSE; HOMICIDE; ARSON',
 'HOMICIDE; ASSAULT W/DANGEROUS WEAPON; ROBBERY; THEFT F/AUTO; MOTOR VEHICLE THEFT; THEFT/OTHER; BURGLARY; SEX ABUSE; ARSON']

In [18]:

def count_fx(x):
    return len(x)

def join_text(x):
    return "; ".join(x)

new_list = []
for key, val in list( df1.items() ):
    new_list.append( join_text(val))
    
df1.apply(count_fx)
df2 = df1.reset_index()
df2["uniq_off_by_ward"] = new_list
df2

WARD
1    9
2    9
3    8
4    8
5    9
6    9
7    9
8    9
Name: OFFENSE, dtype: int64

,WARD,OFFENSE,uniq_off_by_ward
0,1,"[THEFT/OTHER, THEFT F/AUTO, ASSAULT W/DANGEROU...",THEFT/OTHER; THEFT F/AUTO; ASSAULT W/DANGEROUS...
1,2,"[THEFT F/AUTO, THEFT/OTHER, MOTOR VEHICLE THEF...",THEFT F/AUTO; THEFT/OTHER; MOTOR VEHICLE THEFT...
2,3,"[THEFT/OTHER, MOTOR VEHICLE THEFT, THEFT F/AUT...",THEFT/OTHER; MOTOR VEHICLE THEFT; THEFT F/AUTO...
3,4,"[THEFT F/AUTO, MOTOR VEHICLE THEFT, THEFT/OTHE...",THEFT F/AUTO; MOTOR VEHICLE THEFT; THEFT/OTHER...
4,5,"[MOTOR VEHICLE THEFT, BURGLARY, THEFT/OTHER, T...",MOTOR VEHICLE THEFT; BURGLARY; THEFT/OTHER; TH...
5,6,"[THEFT/OTHER, ASSAULT W/DANGEROUS WEAPON, THEF...",THEFT/OTHER; ASSAULT W/DANGEROUS WEAPON; THEFT...
6,7,"[THEFT/OTHER, ASSAULT W/DANGEROUS WEAPON, THEF...",THEFT/OTHER; ASSAULT W/DANGEROUS WEAPON; THEFT...
7,8,"[HOMICIDE, ASSAULT W/DANGEROUS WEAPON, ROBBERY...",HOMICIDE; ASSAULT W/DANGEROUS WEAPON; ROBBERY;...

In [19]:
df1 = df.groupby("WARD")["OFFENSE"].unique()
df1 = df1.reset_index()
df1["nuniques"] = df1.OFFENSE.apply(len)
df1["uniq_off_by_ward"] = df1.OFFENSE.apply(join_text)

df1[["WARD", "nuniques", "uniq_off_by_ward"]]

   WARD  nuniques                                   uniq_off_by_ward
0     1         9  THEFT/OTHER; THEFT F/AUTO; ASSAULT W/DANGEROUS...
1     2         9  THEFT F/AUTO; THEFT/OTHER; MOTOR VEHICLE THEFT...
2     3         8  THEFT/OTHER; MOTOR VEHICLE THEFT; THEFT F/AUTO...
3     4         8  THEFT F/AUTO; MOTOR VEHICLE THEFT; THEFT/OTHER...
4     5         9  MOTOR VEHICLE THEFT; BURGLARY; THEFT/OTHER; TH...
5     6         9  THEFT/OTHER; ASSAULT W/DANGEROUS WEAPON; THEFT...
6     7         9  THEFT/OTHER; ASSAULT W/DANGEROUS WEAPON; THEFT...
7     8         9  HOMICIDE; ASSAULT W/DANGEROUS WEAPON; ROBBERY;...

In [20]:
def get_uniq_offenses(X):
    uniq_offs = sorted( X.unique() )
    uniq_offs = "; ".join( uniq_offs )
    return uniq_offs

A = uniq_off_valcount_byward = df.groupby("WARD").agg(
        {"OFFENSE": ["nunique", get_uniq_offenses]}
    )
A

     OFFENSE
     nunique                                  get_uniq_offenses
WARD
1          9  ARSON; ASSAULT W/DANGEROUS WEAPON; BURGLARY; H...
2          9  ARSON; ASSAULT W/DANGEROUS WEAPON; BURGLARY; H...
3          8  ASSAULT W/DANGEROUS WEAPON; BURGLARY; HOMICIDE...
4          8  ASSAULT W/DANGEROUS WEAPON; BURGLARY; HOMICIDE...
5          9  ARSON; ASSAULT W/DANGEROUS WEAPON; BURGLARY; H...
6          9  ARSON; ASSAULT W/DANGEROUS WEAPON; BURGLARY; H...
7          9  ARSON; ASSAULT W/DANGEROUS WEAPON; BURGLARY; H...
8          9  ARSON; ASSAULT W/DANGEROUS WEAPON; BURGLARY; H...

### Example of grouping by two variables 

**Task**: group by ward (`WARD`) and police shift (`SHIFT`) and find the offense that is most common in that ward and shift

In [21]:
def get_mode(x):
    return x.mode()

df.groupby(["WARD", "SHIFT"]).agg(
    {
        "OFFENSE": get_mode
    }
).reset_index()

df.groupby(["WARD", "SHIFT"]).agg(
    {
        "OFFENSE": lambda x: x.mode()
    }
).reset_index()

# df.groupby(["WARD", "SHIFT"]).agg(
#     {
#         "OFFENSE": lambda x: x.mode()
#     }
# ).reset_index()

    WARD     SHIFT                     OFFENSE
0      1       DAY                 THEFT/OTHER
1      1   EVENING                 THEFT/OTHER
2      1  MIDNIGHT                 THEFT/OTHER
3      2       DAY                 THEFT/OTHER
4      2   EVENING                 THEFT/OTHER
5      2  MIDNIGHT                 THEFT/OTHER
6      3       DAY                 THEFT/OTHER
7      3   EVENING                 THEFT/OTHER
8      3  MIDNIGHT                 THEFT/OTHER
9      4       DAY                THEFT F/AUTO
10     4   EVENING                 THEFT/OTHER
11     4  MIDNIGHT                 THEFT/OTHER
12     5       DAY                THEFT F/AUTO
13     5   EVENING                 THEFT/OTHER
14     5  MIDNIGHT                 THEFT/OTHER
15     6       DAY                 THEFT/OTHER
16     6   EVENING                 THEFT/OTHER
17     6  MIDNIGHT                 THEFT/OTHER
18     7       DAY                THEFT F/AUTO
19     7   EVENING                 THEFT/OTHER
20     7  MIDNIGHT                 THEFT/OTHER
21     8       DAY                THEFT F/AUTO
22     8   EVENING                 THEFT/OTHER
23     8  MIDNIGHT  ASSAULT W/DANGEROUS WEAPON

    WARD     SHIFT                     OFFENSE
0      1       DAY                 THEFT/OTHER
1      1   EVENING                 THEFT/OTHER
2      1  MIDNIGHT                 THEFT/OTHER
3      2       DAY                 THEFT/OTHER
4      2   EVENING                 THEFT/OTHER
5      2  MIDNIGHT                 THEFT/OTHER
6      3       DAY                 THEFT/OTHER
7      3   EVENING                 THEFT/OTHER
8      3  MIDNIGHT                 THEFT/OTHER
9      4       DAY                THEFT F/AUTO
10     4   EVENING                 THEFT/OTHER
11     4  MIDNIGHT                 THEFT/OTHER
12     5       DAY                THEFT F/AUTO
13     5   EVENING                 THEFT/OTHER
14     5  MIDNIGHT                 THEFT/OTHER
15     6       DAY                 THEFT/OTHER
16     6   EVENING                 THEFT/OTHER
17     6  MIDNIGHT                 THEFT/OTHER
18     7       DAY                THEFT F/AUTO
19     7   EVENING                 THEFT/OTHER
20     7  MIDNIGHT                 THEFT/OTHER
21     8       DAY                THEFT F/AUTO
22     8   EVENING                 THEFT/OTHER
23     8  MIDNIGHT  ASSAULT W/DANGEROUS WEAPON

In [52]:
df.groupby(["WARD", "SHIFT"]).agg(
    {
        "OFFENSE": "max"
    }
).reset_index()

    WARD     SHIFT      OFFENSE
0      1       DAY  THEFT/OTHER
1      1   EVENING  THEFT/OTHER
2      1  MIDNIGHT  THEFT/OTHER
3      2       DAY  THEFT/OTHER
4      2   EVENING  THEFT/OTHER
5      2  MIDNIGHT  THEFT/OTHER
6      3       DAY  THEFT/OTHER
7      3   EVENING  THEFT/OTHER
8      3  MIDNIGHT  THEFT/OTHER
9      4       DAY  THEFT/OTHER
10     4   EVENING  THEFT/OTHER
11     4  MIDNIGHT  THEFT/OTHER
12     5       DAY  THEFT/OTHER
13     5   EVENING  THEFT/OTHER
14     5  MIDNIGHT  THEFT/OTHER
15     6       DAY  THEFT/OTHER
16     6   EVENING  THEFT/OTHER
17     6  MIDNIGHT  THEFT/OTHER
18     7       DAY  THEFT/OTHER
19     7   EVENING  THEFT/OTHER
20     7  MIDNIGHT  THEFT/OTHER
21     8       DAY  THEFT/OTHER
22     8   EVENING  THEFT/OTHER
23     8  MIDNIGHT  THEFT/OTHER

## Summarizing over all rows or all columns (without grouping)

We can also use the `apply` function to summarize rows or columns efficiently

**Task**: find the mean lat and longitude in one line of code

In [23]:
df[["X","Y"]].mean()

X    399389.390299
Y    137750.788528
dtype: float64

In [24]:
df[["X","Y"]].apply(np.mean, axis=0)

X    399389.390299
Y    137750.788528
dtype: float64

In [25]:
df[["X","Y"]].apply(np.mean, axis=1)

0        267109.5
1        267776.5
2        264026.5
3        268412.0
4        269666.5
           ...
27926    269427.0
27927    267824.5
27928    266828.5
27929    271885.0
27930    266458.5
Length: 27931, dtype: float64

## 2. Creating new columns/transforming their type

### Simple filtering


But there is a built in pandas way to emulate this.

**Task**: create an indicator `is_theft` for any offense that contains the word "THEFT"
    
**Task**: create an indicator `is_theft_notmotor` for any offense that contains the word "THEFT" but does not contain the word "MOTOR"

In [26]:
df['is_theft'] = df['OFFENSE'].str.contains("THEFT")
df.loc[df['is_theft'], "OFFENSE"]

1               THEFT F/AUTO
3                THEFT/OTHER
4        MOTOR VEHICLE THEFT
5               THEFT F/AUTO
6                THEFT/OTHER
                ...
27925           THEFT F/AUTO
27926           THEFT F/AUTO
27927            THEFT/OTHER
27929    MOTOR VEHICLE THEFT
27930            THEFT/OTHER
Name: OFFENSE, Length: 22469, dtype: object

In [27]:
df['is_theft_notmoter'] = (
    df['OFFENSE'].str.contains("THEFT") &
    ~df['OFFENSE'].str.contains("MOTOR")
)
df.loc[df['is_theft_notmoter'], "OFFENSE"]

1        THEFT F/AUTO
3         THEFT/OTHER
5        THEFT F/AUTO
6         THEFT/OTHER
9         THEFT/OTHER
             ...
27924     THEFT/OTHER
27925    THEFT F/AUTO
27926    THEFT F/AUTO
27927     THEFT/OTHER
27930     THEFT/OTHER
Name: OFFENSE, Length: 19210, dtype: object

### np.select

**Task**: create a new variable, `offense_summary`, where you:
        
- Recode theft offenses that use a gun or knife as the method (`METHOD`) as: violent theft
- Recode non-theft offenses that use a gun or knife as the method as: violent other
- Recode all other as non-violent

In [28]:
categories = ["violent theft", "violent other", "non-violent"]

conditions = [(df['is_theft']) & (df['METHOD'].str.contains("GUN", "KNIFE")),
              (~df['is_theft']) & (df['METHOD'].str.contains("GUN", "KNIFE")),
             ~(df['METHOD'].str.contains("GUN", "KNIFE"))]

len(conditions), len(conditions[0])
len(categories)
df.shape

(3, 27931)

3

(27931, 27)

In [29]:
df["offense_summary"] = np.select(conditions, categories, default="non-violent")

print(df[["METHOD", "is_theft", "offense_summary"]])

       METHOD  is_theft offense_summary
0      OTHERS     False     non-violent
1      OTHERS      True     non-violent
2      OTHERS     False     non-violent
3      OTHERS      True     non-violent
4      OTHERS      True     non-violent
...       ...       ...             ...
27926  OTHERS      True     non-violent
27927  OTHERS      True     non-violent
27928   KNIFE     False     non-violent
27929  OTHERS      True     non-violent
27930  OTHERS      True     non-violent

[27931 rows x 3 columns]

### map.recode

**Task**: recode shifts that are MIDNIGHT or EVENING as "nighttime"; code other shift to daytime

In [30]:
shifts = ["MIDNIGHT", "EVENING", "DAY"]
new_period = ["nighttime", "nighttime", "daytime"]
convert_dict = dict(zip(shifts, new_period))
convert_dict

{'MIDNIGHT': 'nighttime', 'EVENING': 'nighttime', 'DAY': 'daytime'}

In [31]:
df["SHIFT_NEW"] = df["SHIFT"].map(convert_dict)
df["SHIFT_NEW"].value_counts()

SHIFT_NEW
nighttime    17837
daytime      10094
Name: count, dtype: int64

In [32]:
df["SHIFT_NEW"] = df["SHIFT"].apply(lambda x: convert_dict[x])
df["SHIFT_NEW"].value_counts()

SHIFT_NEW
nighttime    17837
daytime      10094
Name: count, dtype: int64

### Using built-in pandas methods

Another way of creating variables, used either alone or in combination with np.where and np.select is to use pandas built in `str` methods

Basic structure is: `df['namestringcol'].str.someoperation`

**Task**: using a `str` method, create a new column--`OFFENSE_NOSP`--that replaces spaces in the `OFFENSE` column with underscores

In [51]:
df["OFFENSE_NOSP"] = df['OFFENSE'].str.replace(" ", "_")
df["OFFENSE_NOSP"]

0                          HOMICIDE
1                      THEFT_F/AUTO
2                          HOMICIDE
3                       THEFT/OTHER
4               MOTOR_VEHICLE_THEFT
                    ...
27926                  THEFT_F/AUTO
27927                   THEFT/OTHER
27928    ASSAULT_W/DANGEROUS_WEAPON
27929           MOTOR_VEHICLE_THEFT
27930                   THEFT/OTHER
Name: OFFENSE_NOSP, Length: 27931, dtype: object

### Transforming column types

**Task**: check the type of the `START_DATE` column

In [ ]:
type(df["START_DATE"])

pandas.core.series.Series

In [36]:
type(df["START_DATE"][0])

str

In [42]:
df["START_DATE"].dtypes

dtype('O')

In [41]:
df.dtypes

X                       float64
Y                       float64
CCN                       int64
REPORT_DAT               object
SHIFT                    object
METHOD                   object
OFFENSE                  object
BLOCK                    object
XBLOCK                  float64
YBLOCK                  float64
WARD                      int64
ANC                      object
DISTRICT                float64
PSA                     float64
NEIGHBORHOOD_CLUSTER     object
BLOCK_GROUP              object
CENSUS_TRACT            float64
VOTING_PRECINCT          object
LATITUDE                float64
LONGITUDE               float64
BID                      object
START_DATE               object
END_DATE                 object
OBJECTID                  int64
OCTO_RECORD_ID          float64
is_theft                   bool
is_theft_notmoter          bool
offense_summary          object
SHIFT_NEW                object
dtype: object

**Task**: recast the `START_DATE` column to datetime, calling this `START_DATE_CLEAN`; coerce errors rather than cleaning the string; check the type of that new col

In [47]:
df["START_DATE_CLEAN"] = pd.to_datetime(df["START_DATE"], errors = 'coerce')
df["START_DATE_CLEAN"]

0       2010-10-10 02:00:00+00:00
1       2020-01-28 05:14:58+00:00
2       2018-03-26 08:40:06+00:00
3       2020-08-07 09:40:16+00:00
4       2020-08-23 06:00:25+00:00
                   ...
27926   2020-07-27 15:30:04+00:00
27927   2020-12-15 22:53:00+00:00
27928   2020-12-05 23:56:23+00:00
27929   2020-12-07 12:51:20+00:00
27930   2020-12-07 17:07:15+00:00
Name: START_DATE_CLEAN, Length: 27931, dtype: datetime64[ns, UTC]

In [48]:
type(df["START_DATE_CLEAN"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [45]:
df["START_DATE_CLEAN"].dtypes

datetime64[ns, UTC]

In [46]:
df.dtypes

X                                   float64
Y                                   float64
CCN                                   int64
REPORT_DAT                           object
SHIFT                                object
METHOD                               object
OFFENSE                              object
BLOCK                                object
XBLOCK                              float64
YBLOCK                              float64
WARD                                  int64
ANC                                  object
DISTRICT                            float64
PSA                                 float64
NEIGHBORHOOD_CLUSTER                 object
BLOCK_GROUP                          object
CENSUS_TRACT                        float64
VOTING_PRECINCT                      object
LATITUDE                            float64
LONGITUDE                           float64
BID                                  object
START_DATE                           object
END_DATE                             object
OBJECTID                              int64
OCTO_RECORD_ID                      float64
is_theft                               bool
is_theft_notmoter                      bool
offense_summary                      object
SHIFT_NEW                            object
START_DATE_CLEAN        datetime64[ns, UTC]
dtype: object

**Task:** print the min and max of `START_DATE_CLEAN`. What happens if you try to do this with `START_DATE`?

In [50]:
df["START_DATE_CLEAN"].agg(["max", "min"])
df["START_DATE"].agg(["max", "min"])

max   2021-01-01 02:30:21+00:00
min   1940-02-17 00:00:16+00:00
Name: START_DATE_CLEAN, dtype: datetime64[ns, UTC]

max    2021/01/01 02:30:21+00
min    1940/02/17 00:00:16+00
Name: START_DATE, dtype: object

## 3. Row and column filtering

### Row subsetting

**Task**: filter to crime reports about theft using the `is_theft` definition and that are in ward 3

In [54]:
df[(df["is_theft"]) & (df["WARD"] == 3)]

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,is_theft,is_theft_notmoter,offense_summary,SHIFT_NEW,START_DATE_CLEAN,OFFENSE_NOSP
24,394459.0,141888.0,20040285,2020/03/06 20:37:25+00,EVENING,OTHERS,THEFT/OTHER,4200 - 4399 BLOCK OF CONNECTICUT AVENUE NW,394459.0,141888.0,...,2020/03/06 19:24:37+00,NaN,802287574,NaN,True,True,non-violent,nighttime,2020-03-06 19:24:37+00:00,THEFT/OTHER
39,393663.0,143642.0,20181237,2020/12/23 05:32:20+00,MIDNIGHT,OTHERS,MOTOR VEHICLE THEFT,5320 - 5399 BLOCK OF CONNECTICUT AVENUE NW,393663.0,143642.0,...,2020/12/23 01:59:13+00,2020/12/23 04:00:19+00,802287589,NaN,True,False,non-violent,nighttime,2020-12-23 01:59:13+00:00,MOTOR_VEHICLE_THEFT
54,393620.0,142224.0,20157370,2020/11/03 20:06:29+00,EVENING,OTHERS,THEFT F/AUTO,3700 - 3799 BLOCK OF ALBEMARLE STREET NW,393620.0,142224.0,...,2020/10/28 14:00:47+00,2020/10/28 15:00:35+00,802287674,NaN,True,True,non-violent,nighttime,2020-10-28 14:00:47+00:00,THEFT_F/AUTO
57,395499.0,139592.0,20157882,2020/11/04 20:40:30+00,EVENING,OTHERS,THEFT/OTHER,2600 - 2649 BLOCK OF CONNECTICUT AVENUE NW,395499.0,139592.0,...,2020/11/04 16:40:39+00,2020/11/04 16:50:48+00,802287677,NaN,True,True,non-violent,nighttime,2020-11-04 16:40:39+00:00,THEFT/OTHER
66,394459.0,141888.0,20160456,2020/11/09 20:00:36+00,DAY,OTHERS,THEFT/OTHER,4200 - 4399 BLOCK OF CONNECTICUT AVENUE NW,394459.0,141888.0,...,2020/09/28 21:25:53+00,2020/09/28 21:35:05+00,802287686,NaN,True,True,non-violent,daytime,2020-09-28 21:25:53+00:00,THEFT/OTHER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27787,394949.0,140320.0,20121975,2020/08/26 20:56:00+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,2731 - 2899 BLOCK OF DEVONSHIRE PLACE NW,394949.0,140320.0,...,2020/08/25 23:00:13+00,2020/08/26 19:00:07+00,802840376,NaN,True,False,non-violent,nighttime,2020-08-25 23:00:13+00:00,MOTOR_VEHICLE_THEFT
27821,392607.0,143559.0,20044116,2020/03/12 23:53:15+00,EVENING,OTHERS,THEFT/OTHER,5300 - 5399 BLOCK OF WISCONSIN AVENUE NW,392607.0,143559.0,...,2020/03/12 17:25:58+00,2020/03/12 17:49:32+00,802840858,NaN,True,True,non-violent,nighttime,2020-03-12 17:25:58+00:00,THEFT/OTHER
27883,394432.0,140127.0,20142286,2020/10/05 17:57:20+00,DAY,OTHERS,THEFT F/AUTO,3200 - 3299 BLOCK OF CATHEDRAL AVENUE NW,394432.0,140127.0,...,2020/10/05 15:32:07+00,2020/10/05 17:35:33+00,802841823,NaN,True,True,non-violent,daytime,2020-10-05 15:32:07+00:00,THEFT_F/AUTO
27908,392145.0,142634.0,20400777,2020/06/15 14:54:59+00,DAY,OTHERS,THEFT F/AUTO,4700 - 4799 BLOCK OF 46TH STREET NW,392145.0,142634.0,...,2020/06/15 00:00:00+00,2020/06/15 14:00:00+00,802842159,NaN,True,True,non-violent,daytime,2020-06-15 00:00:00+00:00,THEFT_F/AUTO
27924,393039.0,142375.0,20007918,2020/01/14 05:01:27+00,MIDNIGHT,OTHERS,THEFT/OTHER,4530 - 4599 BLOCK OF WISCONSIN AVENUE NW,393039.0,142375.0,...,2020/01/14 02:41:22+00,2020/01/14 02:45:43+00,802842232,NaN,True,True,non-violent,nighttime,2020-01-14 02:41:22+00:00,THEFT/OTHER

### Column subsetting

**Task**: select two columns--`START_DATE` and `END_DATE`--and print the head of the dataframe

In [55]:
df[["START_DATE", "END_DATE"]].head()

               START_DATE                END_DATE
0  2010/10/10 02:00:00+00                     NaN
1  2020/01/28 05:14:58+00  2020/01/28 05:15:02+00
2  2018/03/26 08:40:06+00  2018/03/26 10:04:44+00
3  2020/08/07 09:40:16+00  2020/08/21 10:00:05+00
4  2020/08/23 06:00:25+00  2020/08/23 06:43:53+00

**Task**: use list comprehension to automate this a bit and select all columns with the word "DATE" in the name; print the head of the dataframe

In [57]:
df.columns

Index(['X', 'Y', 'CCN', 'REPORT_DAT', 'SHIFT', 'METHOD', 'OFFENSE', 'BLOCK',
       'XBLOCK', 'YBLOCK', 'WARD', 'ANC', 'DISTRICT', 'PSA',
       'NEIGHBORHOOD_CLUSTER', 'BLOCK_GROUP', 'CENSUS_TRACT',
       'VOTING_PRECINCT', 'LATITUDE', 'LONGITUDE', 'BID', 'START_DATE',
       'END_DATE', 'OBJECTID', 'OCTO_RECORD_ID', 'is_theft',
       'is_theft_notmoter', 'offense_summary', 'SHIFT_NEW', 'START_DATE_CLEAN',
       'OFFENSE_NOSP'],
      dtype='object')

In [58]:
cols_to_pick = [x for x in df.columns if "DATE" in x]
cols_to_pick

['START_DATE', 'END_DATE', 'START_DATE_CLEAN']

In [59]:
df[cols_to_pick]

,START_DATE,END_DATE,START_DATE_CLEAN
0,2010/10/10 02:00:00+00,NaN,2010-10-10 02:00:00+00:00
1,2020/01/28 05:14:58+00,2020/01/28 05:15:02+00,2020-01-28 05:14:58+00:00
2,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,2018-03-26 08:40:06+00:00
3,2020/08/07 09:40:16+00,2020/08/21 10:00:05+00,2020-08-07 09:40:16+00:00
4,2020/08/23 06:00:25+00,2020/08/23 06:43:53+00,2020-08-23 06:00:25+00:00
...,...,...,...
27926,2020/07/27 15:30:04+00,2020/07/28 21:00:08+00,2020-07-27 15:30:04+00:00
27927,2020/12/15 22:53:00+00,2020/12/15 23:10:00+00,2020-12-15 22:53:00+00:00
27928,2020/12/05 23:56:23+00,2020/12/06 00:35:42+00,2020-12-05 23:56:23+00:00
27929,2020/12/07 12:51:20+00,2020/12/07 14:12:14+00,2020-12-07 12:51:20+00:00
27930,2020/12/07 17:07:15+00,2020/12/07 17:08:55+00,2020-12-07 17:07:15+00:00

**Task**: filter reports of crime in `START_DATE_CLEAN` before May 2020 and that are located in ward 1; select the ward and `START_DATE` column and print a random sample of rows

In [ ]:
# fix random seed by setting random_state
df[
    (
        (df["START_DATE_CLEAN"] < "2020-05-01") & 
        (df["WARD"] == 1)
    )
][["WARD", "START_DATE"]].sample(n=3, random_state=123)

       WARD              START_DATE
16662     1  2020/01/01 08:45:28+00
12924     1  2020/03/21 18:00:18+00
12161     1  2020/02/06 04:30:24+00

In [ ]:
# fix random seed by setting random_state
df.loc[
    (
        (df["START_DATE_CLEAN"] < "2020-05-01") & 
        (df["WARD"] == 1)
    ), 
    ["WARD", "START_DATE"]
].sample(n=3, random_state=123)

       WARD              START_DATE
16662     1  2020/01/01 08:45:28+00
12924     1  2020/03/21 18:00:18+00
12161     1  2020/02/06 04:30:24+00

In [81]:
df[["WARD", "START_DATE"]][
    (
        (df["START_DATE_CLEAN"] < "2020-05-01") & 
        (df["WARD"] == 1)
    )
].sample(n=3, random_state=123)

       WARD              START_DATE
16662     1  2020/01/01 08:45:28+00
12924     1  2020/03/21 18:00:18+00
12161     1  2020/02/06 04:30:24+00